@model IEnumerable<ServiceCenter.Domain.Viewmodel.TariffType.TariffTypeListViewModel>

<h1 class="h3 mb-2 text-gray-800">Виды тарифных планов</h1>

<div class="my-2"></div>

<div class="card shadow mb-4">
    <div class="card-body">
        <p>
            <a class="btn btn-success" asp-controller="Tariff" asp-action="CreateTariffType">Добавить</a>
        </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
            {
                @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
            }
}
    </tbody>
</table>
    </div>
</div>