@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a asp-area="Guest" asp-controller="Guest" asp-action="Index">asd</a></p>
    <p><a asp-controller="Account" asp-action="Login">АВТОРИЗАЦИЯ</a></p>
    <p><a asp-area="Admin" asp-controller="Tariff" asp-action="Tariffs">ТАРИФЫ</a></p>
    <p><a asp-area="Admin" asp-controller="Tariff" asp-action="TariffTypes">ТИПЫ ТАРИФОВ</a></p>
    <p><a asp-area="Admin" asp-controller="User" asp-action="Users">ПОЛЬЗОВАТЕЛИ</a></p>
    <p><a asp-area="Admin" asp-controller="Abonent" asp-action="Abonents">АБОНЕНТЫ</a></p>
    <p><a asp-area="Admin" asp-controller="OrderService" asp-action="Services">УСЛУГИ</a></p>
    <p><a asp-area="Admin" asp-controller="Material" asp-action="Materials">МАТЕРИАЛЫ</a></p>
    <p><a asp-area="Admin" asp-controller="Employee" asp-action="Employeers">РАБОТНИКИ</a></p>
    <p><a asp-area="Admin" asp-controller="Payment" asp-action="Payments">ПЛАТЕЖИ</a></p>
    <p><a asp-area="Guest" asp-controller="Guest" asp-action="Tariffs">ГОСТЬ</a></p>
</div>


